{% extends "TrouveToutBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Accueil
{% endblock %}

{% block TrouveTout %}

<section>
  <aside>
	<h1>Informations générales</h1>
	<p>Licence : <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a></p>
	<p>Auteurs : <a href="http://amopie.org">La communautée amopienne, bergerève</a></p>
	<p>Code source : <a href="https://gitorious.org/trouve_tout">page gitorious</a></p>
	<p>Date de création : bientôt</p>
  </aside>
  <article>                
	<h1>Trouve tout, retrouvé vos objets en quelques secondes !</h1>
	<p>Trouve tout est un logiciel libre, dont la fonction est de créer méthodiquement un inventaire d’objets en tout genre, pour pouvoir ensuite les retrouver facilement. uaiesrtur aisetnuarsiterua stienruastierusat ierusatiers uatiersutaie rnstuaiernstua nrietsuras iteruastiersuatie rsutaie rsutaeirsutae irsnutaierstuaisretu iarnsetrsu aitersutiarestuareturi asteruatieratp oédetusira tenrstsruaiters nautier siuterntaldpet aurites rauitersua tiersua ternuitanres etsuiecuits tusrnietue uarinsetuie urasiteunriste uariseturnsite auriseturiest aunirset</p>
  </article>
</section>

{% endblock %}

