{% extends "TrouveToutBundle:TrouveTout:ConceptForm.html.twig" %}

{% block specific %}
{{ form_row(form.name) }}
<div class="enligne">
{{ form_row(form.number) }} ± {{ form_row(form.numberImprecision) }}
</div>

<div class="enligne">
  {{ form_row(form.linkable) }}
</div>
{% endblock %}
