.enligne *{
	display: inline;
}

.separation {
	width:100%; 
	color:black; 
	background-color:black; 
	height:5px;
}

.fix-on-right {
	position        : fixed;
    bottom          : 10%;
	right           : 0;
}

.fix-on-middle {
	position        : fixed;
    bottom          : 10%;
	right           : 50%;
}

.fix-on-left {
	position        : fixed;
    bottom          : 10%;
	left           : 0;
}